body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

:root {
    --Rojo-Principal: #b91818; 
    --Vino: #7f191a;
}

@font-face {
    font-family: Sports World;
    src: url('/fonts/Sports\ World-Regular.ttf');
}

/* Aquí empiezan los estilos del header */
header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.menu-desplegable {
    width: 370px;
    height: 35%;
    background-color: var(--Vino);
    position: absolute;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 3px 6px black;
    transition: all 500ms ease;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;    
    z-index: 1;        
}

.lista-menu {
    list-style: none;
    padding-left: 20px;
}

.opciones-menu {
    margin: 40px 12px
}

.opciones-menu a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    margin-left: 12px;
}


.container-menu {
    height: 15%;
    background: var(--Vino);
}

.menu-sidebar {
    width: 60px;
    margin: 20px;
    cursor: pointer;
}

.container-principal {
    height: 85%;
    width: 940px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 10px 0;
}

.logo-principal {
    width: 500px;
}

.descrip {
    font-size: 24px;
    font-weight: bold;
}

.container-principal  div ul {
    padding: 0;
    display: flex;
    gap: 60px;
    list-style: none;
}

.social-networks {
    width: 40px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.social-networks:hover {
    transform: scale(1.2);
}
/* Acá terminan los estilos del header */

/* Acá inician los estilos del main */
main {
    width: 100%;
    height: 327vh;
    display: flex;
    flex-direction: column;
}

#sc-1 {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Vino);
}

.title {
    font-family: Sports World;
    color: white;
    font-weight: bold;
    font-size: 44px;
}

.box-info {
    width: auto;
    height: auto;
    display: flex;
    margin: 20px;
    position: relative;
}

.box-info > div {
    width: 170px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -38px;
    top: -10px;
    border: 1px solid white;
    border-radius: 20px;
    background: white;
    color: var(--Rojo-Principal);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.box-info a {
    text-decoration: none;
    color: var(--Vino)
}

.box-info > img {
    height: 350px;
}

.box-info > iframe {
    margin: 0 auto;
    align-self: flex-end;
}

#video {
    width: 560px;
    height: 315px;
}

.sub-title {
    font-family: Sports World;    
    font-weight: bold;
    color: white;
    font-size: 32px;
    margin: 10px;
}

.container-addons {
    width: 940px;
    display: flex;
    justify-content: center;
}

.container-addons > ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin-top: 10px;
    gap: 150px;
    color: white;
}

.container-addons > ul li ul {
    list-style: none;
    padding: 0;
}

.container-addons > ul li ul li {
    padding: 10px;
}

.addons {
    display: flex;
    gap: 10px;
}


#sc-2 {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    background-color: black;
}

#sc-2 > div {
    width: 940px;
    height: 100%;
    display: flex;    
    align-items: start;
    justify-content: center;
    gap: 20px;
    padding-top: 44px
}

#video-aboutme {
    height: 60%;
    width: 60%;
}

#sc-2 > div p {
    color: white;
    text-align: justify;
    padding-top: 74px;
}

#sc-3 {
    width: 100%;
    height: 127vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.custom {    
    color: var(--Rojo-Principal)
}

.phrase {
    font-size: 18px;
    font-weight: bold;
}

.container-testimonies {
    width: 940px;
    height: 80%;
}

.container-testimonies > ul {
    list-style: none;
    display: flex;    
    flex-direction: column;
    padding: 0;
}

.container-testimonies > ul > li {
    margin-bottom: 100px;
}

.container-testimonies ul li > ul {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-between;
}

.image-testimonie {
    width: 400px;
    height: 300px;
    border-radius: 20px;
    border: 5px solid var(--Rojo-Principal)
}
/* Acá terminan los estilos del main */

/* Acá inicia el footer */
footer {
    width: 100%;
    height: 20vh;
    margin-top: 40px;
    background-color: var(--Vino);   
}

footer p {
    color: white;
    text-align: center;
    margin: 5px;
}

footer p:first-child {
    padding: 40px 0 0 0;
}
/* Acá termina el footer */


/* Inicio de los medias queries */

/* -- Media queries moviles - Orientación vertical --*/
@media (max-width: 433px) and (orientation:portrait) {

    /* Encabezado */
    header {
        height: 100vh;
    }

    .menu-sidebar {
        margin: 0.6em 0 0 8px;
    }

    .menu-desplegable {
        top: 72px;
        width: 92%;
        height: 42%;
        max-width: 92%;
    }

    .container-principal {
        width: auto;
    }

    .container-menu {
        height: 80px;
    }

    .logo-principal {
        width: 18em;
        margin: 0 auto;
    }

    .descrip {
        font-size: 1em;
        text-align: center;
        padding: 0 10px;
    }

    .social-networks {
        width: 30px;
        gap: 30px
    }
    /* Encabezado */
    

    /* Main */

    main {
        height: auto;
    }

    /* SC-1 */
    #sc-1 {
        height: auto;
        padding: 42px 0;
    }

    .title {
        font-size: 24px;
        margin: 18px 8px;
        text-align: center;
    }

    .box-info {
        width: auto;
    }

    .box-info > div {
        left: -42px;
    }

    .box-info > img {
        height: 300px;
    }
    

    .sub-title {
        font-size: 20px;
    } 

    #video, .container-addons {
        width: auto;
    }

    .container-addons > ul {
        gap: 0;
    }    
    /* SC-1 */

    /* SC-2 */
    #sc-2 {
        height: auto;
        padding: 42px 0;
    }

    #sc-2 > div {
        width: 80%;
        height: 200px;
        flex-direction: column;
        padding: 0;
        display: flex;
        align-items: center;
    }

    #video-aboutme {
        height: 99%;
        width: 60%;
    
    }

    .photo-coach {
        width: 70%;
        margin: 10px auto;
    }

    #sc-2 > div p {
        padding: 0;
        margin: 14px 16px 24px 16px;
    }
    /* SC-2 */

    /* SC-3 */
    #sc-3 {
        height: auto;
    }

    .phrase {
        text-align: center;
        font-size: 16px;
        margin: 16px;
    }

    .container-testimonies {
        width: auto;
        height: auto;
    }

    .container-testimonies > ul li  {
        margin-bottom: 34px;        
    }

    .container-testimonies ul li > ul {
        flex-direction: column;
    }

    .container-testimonies ul li > ul li {
        text-align: center;
        padding-bottom: 34px;
    }

    .container-testimonies ul li > ul li:last-child {
        padding-bottom: 0;
    }

    .image-testimonie {
        width: 80%;
        height: 10%;
    }
    /* SC-3 */

    /* Main */

    /* Footer */
    footer {
        margin-top: 10px;
    }
    /* Footer */
 }

/* ---------------------------- */
